<mat-card>
    <h3>Login</h3>
  
    <form class="example-form">    

      <mat-form-field class="example-full-width">
          <input  [(ngModel)] = "email" 
                  name = "email" 
                  matInput placeholder="Email">
        </mat-form-field>
        <div *ngIf = "code == 'auth/invalid-email'" class="err">{{ message }}</div>
        <div *ngIf = "code == 'auth/user-not-found'" class="err">{{ message }}</div>
        <div *ngIf = "email == ''" class="err">{{ required }}</div>
        <br>
      
        <mat-form-field class="example-full-width">
            <input [(ngModel)] = "password" 
                    name = "password"
                    [type] = "hide ? 'password' : 'text'"
                    matInput placeholder="Password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <div *ngIf = "code == 'auth/wrong-password'"  class="err">{{ message }}</div>
          <div *ngIf = "password == ''"  class="err" >{{ required }}</div>
      
          <button mat-raised-button 
                  (click)="login()">Login</button>
  
    </form>
</mat-card>