<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()"
    style="list-style-type:none">
    <mat-checkbox
      [(ngModel)]="stock"
      (change) = "checkChange()">
    </mat-checkbox>  
    <span> {{ name }} - {{ price }}</span> 

    <button mat-raised-button
            (click) = "show2Buttons()"
            *ngIf = "showTheButton">
            <span *ngIf = "!deleteBut">Delete</span>
            <span *ngIf = "deleteBut" (click) = "deleteItem()">Click to Delete</span></button>


    <button mat-raised-button
            *ngIf = "deleteBut"
            (click) = "cancel()">Cancel</button> 

</li>