<mat-card>
    <div *ngIf = "!(authService.user | async)">
        <h1 style="text-align: center;">Please <a routerLink = "/login">login</a> to see your list of items</h1>
    </div>
<div *ngIf = "(authService.user | async)">
  <h1 style="text-align: center;">Welcome {{ email }}!</h1>
</div>

</mat-card>